html {
  height: 100%;
}

body {
  font-family: "Lexend", sans-serif !important;
  height: 100%;
  margin: 0;
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: #171a21;
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(64, 62, 62, 1) 100%
  ); */
  color: #fafafa;
}

.display-1 {
  font-size: calc(2.75rem + 4.5vw) !important;
  font-weight: 400 !important;
}

.title {
  padding-top: 2em;
}

.continueBtn {
  background-color: #f4442e;
  color: #fafafa;
  border-radius: 40px;
  font-size: 3vh;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 7px #f4442e;
  min-width: 10em;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnContainer {
  position: absolute;
  bottom: 0;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}

.droneimg {
  padding-top: 10em;
}

.droneimg2 {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.dronename {
  font-weight: 400 !important;
  font-size: 4vh;
}

.fa-battery-full {
  color: #5bc236;
}

.batteryIndicator,
.batteryPercentage {
  /* display: inline-block; */
  float: left;
  padding: 0.5em;
  font-size: 2vh;
  font-weight: 400 !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.destinationEntry {
  padding-right: 3em;
  padding-left: 3em;
}

.bottom-sheet {
  color: #fafafa;
  background: #171a21;
  height: 25%;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;

  border-radius: 30px 30px 0px 0px;
}

.progress-bar {
  background-color: #279c4e;
  font-size: 2vh;
}

.progress {
  height: 2em;
}

.animationContainer {
  padding-top: 2em;
  padding-bottom: 0.25em;
}

lottie-player {
  margin: 0 auto;
}

#stream {
  min-height: 100%;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;

  object-fit: cover;

  filter: brightness(90%);
}

#video-container {
  min-height: 100%;

  width: 100%;
  height: auto;

  padding: 0px !important;
  margin: 0px imp !important;
}

#drone-info {
  padding-top: 1em;
  padding-left: 1em;
}

#drone-thumbnail {
  width: 9em;
  height: auto;
}

#drone-name {
  margin-top: 1em;
}

#drone-progress {
  margin-top: 2em;
  padding-left: 1em;
}

#journey-info {
  margin-top: 1em;
  padding-left: 1em;
}

#eta {
  padding-top: 0.25em;
}

#loadingModal,
#landingModal {
  color: #171a21;
}
